# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Envs
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data exports
*.xlsx
*.xls
*.csv
*.parquet
*.png
*.jpg
*.jpeg
*.pdf
